<!DOCTYPE html>
<html lang="en">
  <script src="https://cdn.socket.io/4.4.0/socket.io.min.js"></script>
  <%-include('./partials/bootstrap.ejs')%> <%-include('./partials/header.ejs')%>
  <body>
    <%-include('./partials/nav.ejs')%>
    <script>
      var username = "<%=user.username%>";
    </script>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="row1"><h2>Group Chat</h2></div>
            <div class="row2 scroll" id="chat-window">
              <div>
                <div class="message__area" onLoad="pageScroll()"></div>
              </div>
            </div>
            <div class="row3">
              <input
                type="text"
                id="textarea"
                class="message"
                placeholder="write a message..."
              />
              <button class="chat-button" onclick="sendMessage()">Enter</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/client.js"></script>
  </body>
  <%-include('./partials/footer.ejs')%>
</html>
